\#*
*~
*.dat
*.eld
.#recentf
settings.el
smex-items
recentf
ido.last
places
tramp
bookmarks
projectile.cache
wolfram_settings.org
backups/
auto-save-list/
elpa/
.cask/
.python-environments/
image-dired/
irony/
eshell/
url/
server/
timelog
